
@{
    ViewBag.Title = "ConfigSaved";
}

<h2>Config Saved</h2>

<p>
    The configuration has been saved successfully!
</p>
<p>
    Click <a href="/Registration/FillForm">here</a> to view form.<br/>
    Or click <a href="/Config/">here</a> to edit config.
</p>

