
@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!</h2>

<p>
    Please choose a registration form based on your customer type below to register.
</p>

<div>
    <a href="/registration">Go to registration</a>
</div>

